<!-- admin-header.component.html -->
<header class="simple-header">
  <!-- Botón de Cerrar Sesión a la izquierda -->
  <div class="logout-container">
    <button (click)="onLogout()" class="logout-btn">
     <a>Cerrar Sesión</a>
    </button>
  </div>

  <!-- Logo de texto centrado -->
  <div class="logo-container" routerLink="/inicio-admin">
    <span class="logo-text">DoblaWeb</span>
  </div>

  <!-- Menú de navegación -->
  <nav>
    <ul class="simple-nav">
      <li><a routerLink="/inicio-admin">Inicio</a></li>
      <li><a routerLink="/producto-admin">Productos</a></li>
      <li><a routerLink="/nosotros-admin">Nosotros</a></li>
      <li><a routerLink="/contacto-admin">Contacto</a></li>
    </ul>
  </nav>
</header>