style(type='text/css').
  /* Base styles */
  body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  /* ... (añade aquí todos tus estilos email) ... */

  /* Button styles */
  .btn {
    box-sizing: border-box;
    width: 100%; }
    .btn > tbody > tr > td {
      padding-bottom: 15px; }
    .btn table {
      width: auto; }
    .btn table td {
      background-color: #4CAF50;
      border-radius: 5px;
      text-align: center; }
    .btn a {
      background-color: #4CAF50;
      border: solid 1px #4CAF50;
      border-radius: 5px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 12px 25px;
      text-decoration: none;
      text-transform: capitalize; }