extends baseEmail

block content
  p Hola #{firstName},
  p ¿Olvidaste tu contraseña? Haz clic en el siguiente enlace para restablecerla:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_self') Restablecer contraseña
  p Si no solicitaste este cambio, por favor ignora este mensaje.
  p - Equipo de DoblaWeb