<div class="login-container">
  <!-- Sección izquierda (ahora con el contenido de login) -->
  <div class="login-content">
    <button class="back-button" routerLink="/">← Regresar</button>
    <h2>Crear cuenta como:</h2>
    <div class="role-options">
      <button routerLink="/home">CLIENTE</button>
      <button routerLink="/signup">EMPLEADO</button>
    </div>
  </div>

  <!-- Sección derecha (ahora con la imagen) -->
  <div class="login-image">
    <img src="assets/auth/login-image.png" alt="Imagen de inicio de sesión">
  </div>
</div>
