<footer class="footer">
    <div class="footer-contenido">
        <div class="seccion-imagenes">
            <div class="footer-imagenes">
                <img src="assets/Logo_Empresa.jpeg" alt="Logo_Empresa" class="footer-img">
                <img src="assets/Logo_pagina1.png" alt="Logo_Pagina" class="footer-img">
            </div>
            <p class="footer-copyright">&copy; 2023 DoblaWeb. Todos los derechos reservados.</p>
        </div>
        <div class="footer-seccion">
            <h3>Links de interés</h3>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Servicios</a></li>
            </ul>
        </div>
        <div class="footer-seccion">
            <h3>Teléfonos</h3>
            <ul>
                <li>+52 764-115-02-81</li>
                <li>+52 764-115-02-62</li>
            </ul>
        </div>
        <div class="footer-seccion">
            <h3>Contacto</h3>
            <p>México Tuxpam Km 194 No. S/N, San Miguel Mecatepec, Tihuatlán, Veracruz, México, CP: 92903</p>
            <p>Correo Electrónico:</p>
            <ul>
                <li><a href="mailto:doblacero_lt@hotmail.com">doblacero_lt&#64;hotmail.com</a></li>
                <li><a href="mailto:doblacero_laminados@hotmail.com">doblacero_laminados&#64;hotmail.com</a></li>
            </ul>
        </div>
       
    </div>
    
</footer>